@model IEnumerable<MBshop.Service.OutputModels.ViewProducts>
@{
    ViewData["Title"] = "SearchResult";
}

<h1>Results for @ViewData["Search"]</h1>

<div class="table-responsive-sm">
    <table class="table bg-transparent" id="tabul">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Type)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Genre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.price)$
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Picture)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Genre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.price)
                    </td>
                    <td>
                        @*@Html.DisplayFor(modelItem => item.Picture)*@
                        <img src="@item.Picture" id="MovieList" alt="Alternate Text" />
                    </td>

                    <td>


                        @if (item.Type == WebConstansVariables.Book)
                        {
                            if (item.Status)
                            {
                                <a asp-controller="UserShopedItems" asp-action="UserBooksShops" style="margin-left:15px;" class="btn btn-warning">Owned</a>
                            }
                            else
                            {
                                @using (Html.BeginForm("BookDetail", "BookList", new { id = item.Id }, FormMethod.Post))
                                {
                                    <div class="form-group">
                                        <div class="col-lg-10 col-lg-offset-2">
                                            <button type="submit" class="btn btn-outline-primary">Purchase  </button>
                                        </div>
                                    </div>
                                }
                            }


                        }
                        else if (item.Type == WebConstansVariables.Movie)
                        {
                            if (item.Status)
                            {
                                <a asp-controller="UserShopedItems" asp-action="UserMovieShops" style="margin-left:15px;" class="btn btn-warning">Owned p.</a>
                            }
                            else
                            {
                                @using (Html.BeginForm("MovieDetail", "MovieList", new { id = item.Id }, FormMethod.Post))
                                {
                                    <div class="form-group">
                                        <div class="col-lg-10 col-lg-offset-2">
                                            <input class="form-control mr-sm-2" type="hidden" name="type" value="@item.Type">
                                            <button type="submit" class="btn btn-outline-primary">Purchase  </button>
                                        </div>
                                    </div>
                                }
                            }


                        }
                    </td>
                </tr>

            }
        </tbody>
    </table>
</div>