@*@model IEnumerable<WebAppProject.Models.Movieses>*@
@model IEnumerable<BusinessLogic.OutputModels.Movieses>

@{
    ViewData["Title"] = "Collection";
}

<h1>Collection</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" id="tabul">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Director)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RealeaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th>
                Price $
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Picture)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Director)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RealeaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                @{ 
                   var sum = item.price + item.Discount;
                    string pricy = $"{sum:f2} $";
                    string disp = $"{item.price:f2} $";

                }
                Origin Price: @pricy
                <p>Promo: -@item.Discount $</p>
                Final Price: @item.price
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.Picture)*@
                <img src="@item.Picture" id="MovieList" alt="Alternate Text" />
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
