@model IEnumerable<BusinessLogic.OutputModels.OutputMovies>

@{
    ViewData["Title"] = "Collection";
}

<h1>MovieCollection</h1>

<br />
<p class="bookLink">
    <a asp-controller="BookList" asp-action="BooksCollection" class="btn btn-primary btn-lg">Book collection</a>
</p>

<table class="table" id="tabul">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Director)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Actors)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Raiting)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RealeaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Picture)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Director)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Actors)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Raiting)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RealeaseDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genre)
                </td>
                <td>
                    @{
                        var sum = item.price + item.Discount;
                        string pricy = $"{sum:f2} $";
                        string disp = $"{item.price:f2} $";
                    }
                    Origin Price: @pricy
                    <p>Promo: -@item.Discount $</p>
                    Final Price: @item.price
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.Picture)*@
                    <img src="@item.Picture" id="MovieList" alt="Alternate Text" />
                </td>
                <td>

                    @*<a class="nav-link text-dark" asp-area="" asp-controller="Shoping" asp-action="Purchases">Create ShopList</a>*@

                    @*<button type="submit" class="btn btn-outline-success">*@


                    @*@Html.ActionLink("Purchase", "Purchases", "Shoping", new { id = item.Id }, new { @class = "btn btn-outline-success" })*@

                    @if (item.Status == false)
                    {
                       

                        @using (Html.BeginForm("PurchaseMovie", "MovieList", new { id = item.Id }, FormMethod.Get))
                        {
                            <div class="form-group">
                                <div class="col-lg-10 col-lg-offset-2">
                                    <button type="submit" class="btn btn-outline-primary">Purchase  </button>
                                </div>
                            </div>
                        }

                    }
                    else
                    {
                        <a asp-controller="UserShopedItems" asp-action="UserMovieShops" style="margin-left:15px;" class="btn btn-warning">Owned p.</a>
                    }

                    @*<div id="purchaseHeader" style="text-align:center;">  Buy this product</div>*@

                    @*@Html.ActionLink("MovieList", "BuyMovie", new { id = item.Id }) |*@

                    @*@Html.ActionLink("Purchase", "Purchase", new { id = item.Id })*@

                    @*<button type="submit" class="btn btn-outline-success"> @Html.ActionLink("Purchase", "Purchase", new { id = item.Id })</button>*@

                </td>

            </tr>
        }
    </tbody>
</table>
