@*@model IEnumerable<MBshop.Models.AspNetUserRoles>*@
@model List<OutputRoleAssignModel>

@{
    ViewData["Title"] = "User Roles";
}

    <div class="container">

        <h1>@ViewData["Title"]</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>
                        @*@Html.DisplayNameFor(model => model.User)*@
                        Users
                    </th>
                    <th>
                        @*@Html.DisplayNameFor(model => model.Role)*@
                        Role
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @*@foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.User.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Role.Name)
                </td>
                <td>
                    @{
                        var roles = Model.ToList();
                    }
                    @if (item.Role.Name != WebConstansVariables.Admin)
                    {
                        <form asp-controller="UserRoles" asp-action="Edit" method="post">

                            <select class="custom-select-sm drop" name="userRole">

                                <option value="User">User</option>
                                <option value="Moderator">Moderator</option>

                            </select>
                            <input type="hidden" name="userName" value="@item.User.UserName" />
                            <input type="hidden" name="userId" value="@item.User.Id" />
                            <input type="submit" class="btn btn-secondary" name="name" value="Add Role" />

                        </form>
                    }
                </td>
            </tr>
        }*@
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @*@Html.DisplayFor(modelItem => item.User.Id)*@
                            @Html.DisplayFor(modelItem => item.Users)
                        </td>
                        <td>
                            @*@Html.DisplayFor(modelItem => item.Role.Id)*@
                            @Html.DisplayFor(modelItem => item.UserRole)
                        </td>
                        <td>
                            @{
                                var roles = Model.ToList();
                            }
                            @if (item.UserRole != WebConstansVariables.Admin)
                            {
                                <form asp-controller="UserRoles" asp-action="Edit" method="post">

                                    <select class="custom-select-sm drop" name="userRole">

                                        <option value="User">User</option>
                                        <option value="Moderator">Moderator</option>
                                        @*<option value="Admin">Admin</option>*@

                                    </select>
                                    <input type="hidden" name="userName" value="@item.Users" />
                                    <input type="hidden" name="userId" value="@item.userId" />
                                    <input type="submit" class="btn btn-secondary" name="name" value="Add Role" />

                                </form>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
</div>