@model IEnumerable<MBshop.Service.OutputModels.OutputBooks>

@{
    ViewData["Title"] = "Book Collection";
}

    <div class="container">

        <h1>@ViewData["Title"]</h1>

        <br />
        <p class="movieLink">
            <a asp-controller="MovieList" asp-action="MovieCollection" class="btn btn-primary btn-lg">Movie collection</a>
        </p>
        @if (Model != null)
        {

        <form onchange="$('#autoPost').submit();" asp-controller="BookList" asp-action="BooksCollection" id="autoPost" class="orderForm btn btn-outline-success">
            <select name="orderBy" class="custom-select-sm drop">
                <option value="0">Original order</option>
                <option value="1">Order by Title A-Z</option>
                <option value="2">Order by Title Z-A</option>
                <option value="3">Order by Price ascending</option>
                <option value="4">Order by Price descending</option>
            </select>
        </form>

        @Html.ActionLink("Original order", "BooksCollection", "BookList", new { orderBy = 0 }, new { @class = "btn btn-outline-success order-btn" })
        @Html.ActionLink("Order by Title A-Z", "BooksCollection", "BookList", new { orderBy = 1 }, new { @class = "btn btn-outline-success order-btn" })
        @Html.ActionLink("Order by Title Z-A", "BooksCollection", "BookList", new { orderBy = 2 }, new { @class = "btn btn-outline-success order-btn" })
        @Html.ActionLink("Order by Price ascending", "BooksCollection", "BookList", new { orderBy = 3 }, new { @class = "btn btn-outline-success order-btn" })
        @Html.ActionLink("Order by Price descending", "BooksCollection", "BookList", new { orderBy = 4 }, new { @class = "btn btn-outline-success order-btn" })

        <div class="table-responsive-sm">
            <table class="table" id="tabul">
                <thead>
                    <tr>
                        <th id="hide-on-mobile">
                            @Html.DisplayNameFor(model => model.Title)
                        </th>
                        <th id="hide-on-mobile">
                            @Html.DisplayNameFor(model => model.Author)
                        </th>
                        <th id="hide-on-mobile">
                            Rating
                        </th>
                        <th id="hide-on-mobile">
                            @Html.DisplayNameFor(model => model.Description)
                        </th>
                        <th id="hide-on-mobile">
                            Released
                        </th>
                        <th id="hide-on-mobile">
                            @Html.DisplayNameFor(model => model.Genre)
                        </th>
                        <th id="hide-on-mobile" class="price-title">
                            Price $
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Picture)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td id="hide-on-mobile">
                                @Html.DisplayFor(modelItem => item.Title)
                            </td>
                            <td id="hide-on-mobile">
                                @Html.DisplayFor(modelItem => item.Author)
                            </td>
                            <td id="hide-on-mobile">
                                @Html.DisplayFor(modelItem => item.Rate)
                            </td>
                            <td id="hide-on-mobile">
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td id="hide-on-mobile">
                                @Html.DisplayFor(modelItem => item.RealeseDate)
                            </td>
                            <td id="hide-on-mobile">
                                @Html.DisplayFor(modelItem => item.Genre)
                            </td>
                            <td id="hide-on-mobile">
                                @Html.DisplayFor(modelItem => item.price) $
                            </td>
                            <td>
                                <img src="@item.Picture" id="MovieList" alt="Alternate Text" />
                            </td>
                            <td>
                                @if (item.Status == false)
                                {
                                    <p class="price-mobile" id="price-hide">@item.Title</p>
                                    var rate = $"{item.Rate:f1}";
                                    <p class="price-mobile" id="price-hide">Rate: @rate</p>
                                    <p class="price-mobile" id="price-hide">Price: @item.price.ToString("f2") $</p>
                                    @using (Html.BeginForm("BookDetail", "BookList", new { id = item.Id }, FormMethod.Get))
                                    {
                                        <div class="form-group">
                                            <div class="col-lg-10 col-lg-offset-2">
                                                <button type="submit" class="btn btn-outline-primary">Purchase</button>
                                            </div>
                                        </div>
                                    }
                                }
                                else
                                {
                                    <a asp-controller="UserShopedItems" asp-action="UserBooksShops" style="margin-left:15px;" id="button-padding" class="btn btn-warning">Owned</a>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        
        }
    </div>