@model IEnumerable<MBshop.Models.Logs>

@{
    ViewData["Title"] = "Logs";
}


<div class="container">
    <h1>@ViewData["Title"]</h1>

    <form asp-controller="Shops" asp-action="DeleteLogs" method="post">
        <input type="hidden" name="name" value="%name-no-name%" />
        <input type="hidden" name="userName" value="asdascacw13r13" />
        <input type="hidden" name="hooks" value="%sid-ni-as-no-one%" />
        <input type="hidden" name="id" value="asdasdasda" />
        <input type="submit" class="btn btn-secondary" value="DeleteAll" />
    </form>
    <div class="table-responsive-sm">
        <table class="table" id="tabul">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.LogId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DateLoged)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UserLoged)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @{ var logs = Model.ToList(); }
                @for (int i = logs.Count() - 1; i > 0; i--)
                {
                    var item = logs[i];
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.LogId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateLoged)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserLoged)
                        </td>
                        <td>
                            <form asp-controller="Shops" asp-action="DeleteLog" method="post">
                                <input type="hidden" name="name" value="%name-no-name%" />
                                <input type="hidden" name="userName" value="@item.UserLoged" />
                                <input type="hidden" name="hooks" value="%sid-ni-as-no-one%" />
                                <input type="hidden" name="id" value="@item.LogId" />
                                <input type="submit" class="btn btn-secondary" value="Delete" />
                            </form>
                            @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>