@model IEnumerable<ViewProducts>
@{
    ViewData["Title"] = "Products";
}

    <div class="container">


    <h1>@ViewData["Title"]</h1>


    <div class="table-responsive-sm">
        <table class="table bg-transparent" id="tabul">
            <thead>
                <tr>
                    <th id="hide-on-mobile">
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                    <th id="hide-on-mobile">
                        @Html.DisplayNameFor(model => model.Type)
                    </th>
                    <th id="hide-on-mobile">
                        @Html.DisplayNameFor(model => model.Genre)
                    </th>
                    <th id="hide-on-mobile">
                        Price $
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Picture)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td id="hide-on-mobile">
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td id="hide-on-mobile">
                            @Html.DisplayFor(modelItem => item.Type)
                        </td>
                        <td id="hide-on-mobile">
                            @Html.DisplayFor(modelItem => item.Genre)
                        </td>
                        <td id="hide-on-mobile">
                            @Html.DisplayFor(modelItem => item.price)
                        </td>
                        <td>
                            @*@Html.DisplayFor(modelItem => item.Picture)*@
                            <img src="@item.Picture" id="MovieList" alt="Alternate Text" />
                        </td>

                        <td>


                            @if (item.Type == WebConstantsVariables.Book)
                            {
                                if (item.Status)
                                {
                                    <a asp-controller="UserShopedItems" asp-action="UserBooksShops" style="margin-left:15px;" class="btn btn-warning" id="button-padding">Owned</a>
                                }
                                else
                                {
                                    @using (Html.BeginForm("BookDetail", "BookList", new { id = item.Id }, FormMethod.Get))
                                    {
                                        <div class="form-group">
                                            <div class="col-lg-10 col-lg-offset-2">
                                                <button type="submit" class="btn btn-outline-primary">Purcahse</button>
                                            </div>
                                        </div>
                                    }
                                    <p class="price-mobile" id="price-hide">Price: @item.price.ToString("f2") $</p>
                                }


                            }
                            else if (item.Type == WebConstantsVariables.Movie)
                            {
                                if (item.Status)
                                {
                                    <a asp-controller="UserShopedItems" asp-action="UserMovieShops" style="margin-left:15px;" class="btn btn-warning" id="button-padding">Owned</a>
                                }
                                else
                                {
                                    @using (Html.BeginForm("MovieDetail", "MovieList", new { id = item.Id }, FormMethod.Get))
                                    {
                                        <div class="form-group">
                                            <div class="col-lg-10 col-lg-offset-2">
                                                <input class="form-control mr-sm-2" type="hidden" name="type" value="@item.Type">
                                                <button type="submit" class="btn btn-outline-primary">Purchase</button>
                                            </div>
                                        </div>
                                    }
                                    <p class="price-mobile" id="price-hide">Price: @item.price.ToString("f2") $</p>
                                }


                            }
                        </td>
                    </tr>

                }
            </tbody>
        </table>
    </div>
</div>