@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="title" content="Template for ASP.NET Core" />
    <meta name="description" content="Free Web tutorials, templates, web design">
    <meta name="keywords" content="HTML, CSS, JavaScript, test, shop, template, asp.net core, cart, movie, book, chat, web design, web support, fixing bugs, debug, creating website">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MBshop</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/style.css" />
    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body id="body-customize">
    <header>
        <nav class="navbar navbar-expand-lg navbar-toggleable-sm navbar-light  border-bottom box-shadow mb-3" id="navbar-image">
            <div class="container-fluid">
                <a class="navbar-brand mr-3" asp-area="" asp-controller="Home" asp-action="Index" id="nav-logo"><img src="~/mask.png" id="logo-image" alt="Alternate Text" /> MBshop</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-lg-inline-flex flex-lg-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">

                        @*drop down for products*@

                        <li>
                            <div class="btn-group" id="main-button-dropdown">
                                <button type="button" class="btn btn-primary dropdown-toggle mr-4" data-toggle="dropdown" data-hover="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Categories
                                </button>
                                <div class="dropdown-menu dropdown-menu-left " id="drop-menu-links-js">

                                    <a class="dropdown-item nav-link text-dark dropdnText" asp-area="" asp-controller="MovieList" asp-action="MovieCollection" aria-haspopup="true" aria-expanded="false">Movies</a>

                                    <div class="dropdown-divider"></div>

                                    <a class="dropdown-item nav-link text-dark dropdnText" asp-area="" asp-controller="BookList" asp-action="BooksCollection" aria-haspopup="true" aria-expanded="false">Books</a>

                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item nav-link text-dark dropdnText" asp-area="" asp-controller="Products" asp-action="ProductsCollection" aria-haspopup="true" aria-expanded="false">All products</a>
                                </div>
                            </div>
                        </li>


                        <li class="nav-item pt-2 mr-3">
                            <a asp-area="" asp-controller="PersonalInfo" asp-action="ContactInfo" style="text-decoration:none;">Contact-Info</a>
                        </li>

                        <li class="ItemsPerPerson mr">
                            <a asp-area="" asp-controller="ChatBox" asp-action="ChatPanel" onclick="GetUrlLink(@WebConstantsVariables.EnvironmentVariables)" id="caht-panel" class="text-success pt-5 ml-1 mr-3" style="text-decoration:none;">Chat panel</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark text-primary d-inline-flex" asp-area="" asp-controller="Cart" id="cart" asp-action="Cart">
                                <i class="fa fa-shopping-cart pt-1" id="cart-icon" aria-hidden="true"></i>

                                @*@if (GlobalAlertMessages.CountOfProductsInBasket != 0)
                                {
                                    @GlobalAlertMessages.CountOfProductsInBasket
                                }*@

                                <text id="CartCount"></text>
                            </a>
                        </li>


                    </ul>
                </div>
            </div>
        </nav>
    </header>
    @*Alert status message for user requests*@
    <div id="hideMessage">
        <div class="statusMessage"><h4 class="bg-success text-light messageHeader" id="message">@GlobalAlertMessages.StatusMessage</h4></div>
        @{ GlobalAlertMessages.StatusMessage = ""; }
    </div>




    <div class="container-fluid" id="container-fluid-div-spacer">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container d-flex justify-content-between">
            &copy; 2020 - MBshop - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                                   <div class="text-primary"><a asp-controller="PersonalInfo" asp-action="ContactInfo" style="text-decoration:none;">Contact-Info</a></div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @*<script src="js/bootstrap-dropdownhover.min.js"></script>*@
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/scripts.js" asp-append-version="true"></script>


    @RenderSection("Scripts", required: false)
</body>
</html>
