@model IEnumerable<Db.Models.Movies>

@{
    ViewData["Title"] = "Index";
}

    <h1>Create movie</h1>

    <p>
        <a asp-action="Create" class="btn btn-primary btn-sm">Create New</a>
    </p>
    <div class="table-responsive-sm">
        <table class="table" id="tabul">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Director)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.RealeaseDate)
                    </th>
                    <th>
                        Genre
                    </th>
                    <th>
                        Price
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Actors)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Raiting)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th>
                        Product
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Picture)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Director)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RealeaseDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Genre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.price) $

                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Actors)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Rate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LinkForProductContentWhenPurchase)
                        </td>
                        <td>
                            @* @Html.DisplayFor(modelItem => item.Picture)*@
                            <img src="@item.Picture" id="MovieList" alt="Alternate Text" />
                        </td>

                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-secondary btn-sm">Edit</a> <br />
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-secondary btn-sm">Details</a><br />
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-secondary btn-sm">Delete</a>
                        </td>
                    </tr>

                }
            </tbody>
        </table>
        </div>